.loginButton{
    display:flex;
    justify-content: flex-end;
    margin:20px;
    cursor: pointer;

}
.logoSection{
    display:flex;
    justify-content: center
}
.menuList{
    display: flex;
    list-style-type: none;
}
.menuList li{
    padding:10px;
}
.menuArea{
    display:flex;
    justify-content: center;
}
.searchBar{
    
    display:flex;
    height:44px;
    padding-left: 50px;
}
.product-img{
    display: flex;
    justify-content: flex-end;
}

